.header {
	border: 25px solid #D5467;
    padding: 40px;
	background-color: #3D5467;
}

#head1{
	text-align:center;
	color: #F1EDEE;	
	font-family: Georgia, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 120%;
}